.div1{
   margin: 15px;
}
#linkidin-button{
    padding: 10px;
    font-weight: 600;
    margin-top: 10px;;
    border-radius: 10px;

}
.div2{
    text-align: center;
}
.input-div{
    margin: 10px;
}
label {
    font-size: 20px;
    font-weight: 600;
}